body{
	background-color: #eee;
}

/*===================================================================
=============== Cabeçalho ===========================================
====================================================================*/

.cabecalho{
	padding-top: 20px;
	padding-bottom: 10px;
}

.header-login{
}

.div-logof{
}

.label-usuario {
    height: 25px;
    font-size: 18px;
    font-weight: bolder;
    background-color: #05f;
    border-radius: 5px;
    color: #fff;
    max-width: 100%;
    line-height: 25px;
}

.btn-logof{
	font-size: 15px;
}

/*===================================================================
=============== Barra de Navegação ==================================
====================================================================*/

.menu{
	margin-left: 6%;
}

.menu ul li{
	width: 90px;
	text-align: center;
}

.menu ul li:hover{
	background-color: #00f;
}

.menu ul li a{
	font-size: 18px;
}

/*===================================================================
=============== Conteudo ============================================
====================================================================*/
section#corpo{
	border-bottom: 1px solid transparent;
	margin-bottom: 20px;
	min-height: 433px;

}

/*= Tabela de dados */

.table-crud{
	background-color: #fff;
}

legend.table{
	font-weight: bolder;
}

.table-crud th{
	vertical-align: middle;
	font-size: 18px;
	height: 30px;
}


/*= FIM Tabela de dados */

/*= Formulário de incluir e Editar */

.legend-form{
	font-weight: bolder;
}

.form-crud{
	border: 2px solid #ccc;
	background-color: #ddd;
	padding: 30px 0;
	border-radius: 10px;
}

.form-crud label{
	font-weight: bolder;
	font-size: 18px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*=FIM -> Formulário de incluir e Editar e  */


/*===================================================================
=============== Footer ==============================================
====================================================================*/

.rodape{
	height: 80px;
	background-color: #555555;
	color: #ccc;

}

.rodape p{
	color: #5af;
	text-align: center;
	margin-top: 30px;
}